{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tetrisweb</title>
    <link rel="stylesheet" href="{% static 'tetris/css/tetris.css' %}">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'tetris/js/tetrisscript.js' %}"></script>
</head>
<body>
    {% if userInf %}
        <header>
            <div style="width: 180px"></div>
            <div style="width: 800px">こんにちは、{{ userInf.name }}さん</div>
            <div style="width: 180px;"><a href="{% url 'login' %}" style="color: white;">ログアウト＞＞</a></div>
        </header>
    {% else %}
        <header>こんにちは ゲストさん</header>
    {% endif %} 

    <div class="center">
        <div class="title">
            Tetris Game!!!
        </div>
        <div class="ranking_area">
            <div class="ranking_button weekly_b">Weekly<br>Ranking >>></div>
            <div class="ranking_button monthly_b">Monthly<br>Ranking >>></div>
            <div class="ranking_button allseason_b">All Season<br>Ranking >>></div>
        </div>
        <div class="gamearea">
            <table class="tetris_table"></table>
            <div class="kekka">
                <div class="blockcount"></div>
                <div class="tetrisrank"></div>
                <div class="aboutrank">
                    ---------------about rank--------------- <br><br>
                    ~ 10blocks : &nbsp;F <br>
                    ~ 40blocks : &nbsp;E <br>
                    ~ 50blocks : &nbsp;D <br>
                    ~ 60blocks : &nbsp;C <br>
                    ~ 80blocks : &nbsp;B <br>
                    ~ 100blocks : &nbsp;A <br>
                    ~ 120blocks : &nbsp;S <br>
                    ~ 150blocks : &nbsp;SS <br>
                    151blocks ~ : &nbsp;?????? <br>
                </div>
				<div class="message_area"></div>
            </div>
        </div>
        <div class="yokonarabi">
            <div class="tetris_button">START!!</div>
        </div>
        <div class="asobikata">
            <a href="javascript:OnLinkClick1();">遊び方＞＞＞＞</a>
        </div>
        <div style="height: 5px;"></div>
        <div class="asobikata">
            <a href="javascript:OnLinkClick2();">お知らせ＞＞＞</a>
        </div>
    </div>

    <!-- ログイン済みユーザの場合はデータベース登録用項目を設定 -->
    {% if userInf %} 
        <input type="hidden" name="blockcount">
        <input type="hidden" name="username" id="username" value="{{ userInf.name }}">
    {% endif %}

    <!-- ランキング画面遷移用form -->
    <form name="ranking_form">
        {% csrf_token %}
    </form>
</body>
<script>

    //テトリスゲームスタートボタン押下時
    $(".tetris_button").on("click", function() {
        start();
    });

    //weeklyrankingボタン押下時
    $(".weekly_b").on("click", function() {
        let user_name = $('#username').val()
        multi_post('{% url "ranking" %}', {name: user_name, ranking_type: "weekly"});
    });
    //monthlyrankingボタン押下時
    $(".monthly_b").on("click", function() {
        let user_name = $('#username').val()
        multi_post('{% url "ranking" %}', {name: user_name, ranking_type: "monthly"});
    });
    //allseasonrankingボタン押下時
    $(".allseason_b").on("click", function() {
        let user_name = $('#username').val()
        multi_post('{% url "ranking" %}', {name: user_name, ranking_type: "allseason"});
    });

    // 遊び方リンククリック
    function OnLinkClick1() {
        let user_name = $('#username').val()
        multi_post('{% url "HowToEnjoy" %}', {name: user_name });
    }

    // お知らせリンククリック
    function OnLinkClick2() {
        let user_name = $('#username').val()
        multi_post('{% url "Osirase" %}', {name: user_name });
    }

    //POST転送メソッド
    function multi_post(path, params, method='post') {

        const form = document.ranking_form
        form.method = method;
        form.action = path;

        for (const key in params) {
        if (params.hasOwnProperty(key)) {
            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = key;
            hiddenField.value = params[key];

            form.appendChild(hiddenField);
        }
        }

        form.submit();
    }

    // Ajax用関数
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  var csrftoken = getCookie('csrftoken');

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
      beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
    // Ajax用関数ここまで

    //ゲーム終了時=結果をサーバへ転送（Ajax処理）
    function testtanaka(blockcounter) {
        $.ajax({
                'url': '{% url "tetris_result_submit" %}',
                'type': 'POST',
                'data': {
                    'username': $('#username').val(),
                    'blockcounter': blockcounter,
                },
                'dataType': 'json'
            })
        .done(function(response){
            let submit_result = response.result

            if (submit_result == "allseason_fs") {
                $(".message_area").text("あなたの最初のプレーでした！ランキングに登録されました！");
            }
            if (submit_result == "allseason_max") {
                $(".message_area").text("おめでとうございます！！自己新記録です！！");
            }
            if (submit_result == "monthly_fs") {
                $(".message_area").text("今月最初のプレーでした！MontylyRankingに登録されました！！");
            }
            if (submit_result == "monthly_max") {
                $(".message_area").text("おめでとうございます！！今月の最高記録を更新しました！！");
            }
            if (submit_result == "weekly_fs") {
                $(".message_area").text("今週最初のプレーでした！WeeklyRankingに登録されました！！");
            }
            if (submit_result == "weekly_max") {
                $(".message_area").text("おめでとうございます！！WeeklyRankingに登録されました！！");
            }
            if (submit_result == "not_submit") {
                $(".message_area").text("ないすプレーでした。");
            }
        })
        .fail(function(){
            $(".message_area").text("申し訳ございません。データの転送に失敗しました。");
        });
    }

</script>
</html>