{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>テトリス</title>
    <link rel="stylesheet" href="{% static 'tetris/css/tetris.css' %}">
    <!-- <link rel="stylesheet" href="css/tetris.css"> -->
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="js/tetrisscript.js"></script> -->
    <script type="text/javascript" src="{% static 'tetris/js/tetrisscript.js' %}"></script>
</head>
<body>
    {% if userInf %}
        <header>こんにちは、{{ userInf.name }}さん</header>
    {% else %}
        <header>こんにちは ゲストさん</header>
    {% endif %} 

    <div class="center">
        <div class="title">
            Tetris Game!!!
        </div>
        <div class="ranking_area">
            <div class="ranking_button">Weekly<br>Ranking >>></div>
            <div class="ranking_button">Monthly<br>Ranking >>></div>
            <div class="ranking_button">All Season<br>Ranking >>></div>
        </div>
        <div class="gamearea">
            <table class="tetris_table"></table>
            <div class="kekka">
                <div class="blockcount"></div>
                <div class="tetrisrank"></div>
                <div class="aboutrank">
                    -------about rank------- <br><br>
                    ~ 10blocks : F <br>
                    ~ 40blocks : E <br>
                    ~ 50blocks : D <br>
                    ~ 60blocks : C <br>
                    ~ 80blocks : B <br>
                    ~ 100blocks : A <br>
                    ~ 120blocks : S <br>
                    ~ 150blocks : SS <br>
                    151blocks ~ : secret <br>
                </div>
            </div>
        </div>
        <div class="yokonarabi">
            <div class="tetris_button">START!!</div>
        </div>
    </div>

    <!-- ログイン済みユーザの場合はランキング登録用項目を設定 -->
    {% if userInf %} 
        <input type="hidden" name="blockcount">
        <input type="hidden" name="username" id="username" value="{{ userInf.name }}">
    {% endif %}

</body>
<script>
    $(".tetris_button").on("click", function() {
        start();
    });

    // Ajax用関数
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  var csrftoken = getCookie('csrftoken');

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
      beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
    // Ajax用関数ここまで

    //ゲーム終了時=結果をサーバへ転送（Ajax処理）
    function testtanaka(blockcounter) {
        $.ajax({
                'url': '{% url "tetris_result_submit" %}',
                'type': 'POST',
                'data': {
                    'username': $('#username').val(),
                    'blockcounter': blockcounter,
                },
                'dataType': 'json'
            })
        .done(function(response){
            let submit_result = response.result

            if (submit_result == "weekly_first") {
                
            }
            if (submit_result == "weekly_first") {
                
            }
            if (submit_result == "weekly_first") {
                
            }
        })
        .fail(function(){
            
        });
    }
</script>
</html>